nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.brand-logo{
  margin-left: 30px;
  color: #ff1493 
}
.nav-container{
  background-color: #000;
  color: white;
  padding: 20px;
}
.nav-menu {
  list-style: none;
}

.nav-button {
  background-color: white;
  border: none;
  margin-right: 20px;
}

.nav-button:focus {
  outline: none;
}

.nav-logo {
  width: 50px;
  margin-left: 15px;
}

.cart {
  width: 30px;
}
