body {
  background-color: white;

  padding-bottom: 10%;
}
.card-footer {
  background-color: white;
}
.price {
  background-color: white;
  position: relative;
  bottom: 20px;
}
.title {
  background-color: white;
}
.button {
  border: 1px solid lightcoral;
  background-color: white;
}
.card {
  padding-left: 40px;
  margin-top: 60px;
}
