.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 5% auto;
  text-align: center;
  transition: all 1s linear;
}
.card-footer {
  background-color: white;
}
.price {
  position: relative;
  bottom: 20px;
}

.card button {
  border: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: lightcoral;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  position: absolute;
  bottom: 30%;
  left: 3px;
  */
  opacity: 0;
  padding: 0.2rem 0.4rem;
  transition: all 0.6s linear;
}

.img {
  width: 300px;
  transition: all 0.8s linear;
}
.img-view {
  position: relative;
  overflow: hidden;
}
.img-view:hover .img {
  transform: scale(1.2);
}
.img:hover {
  background: rgba(0, 0, 0, 0.1);
}
.img-view:hover .button {
  transform: translate(0, 0);
  opacity: 1;
  cursor: pointer;
}
/* Product List styling */

.watch-section-title {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 30px 35% 0;
  padding: 30px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
