.search-div {
    display: grid;
    place-items: center;
    margin: 1em 0;
}

.search {
    border: 1px solid #333;
    border-top: none;
    outline: none;
    padding: 0.8em;
    width: 12em;
    line-height: 1.5;
}